<p>
    <strong>Commented by:</strong>
    <%= comment.commenter %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <hr />
   
  <div class="comment-form">
    <%= form_for [ comment.post, Comment.new] do |f| %>
        <%= f.hidden_field :parent_id, value: comment.id %>
        <%= f.text_field :body, placeholder: "Add a Reply" %><br/>
        <%= f.text_field :commenter, value: current_user.first_name, type: :hidden%>
        <%= f.number_field :user_id, value: current_user.id ,type: :hidden%>
        <%= f.submit "Reply"  %>
    <% end %>
  </div>
  <div class= "sub-comment">
  <%= render comment.comments if comment.comments.any? %>
  </div>

<style>
  .sub-comment{
    padding-left: 30px;
  }
  
  .comment-form{
    display:block;
  }

</style>